<html>
  <head>
    <title>Welcome to Breadit</title>
  </head>
  <body>
      <div><h1>Welcome to Breadit page</h1>

      </div>
      <div>
          <h2>Where you can discover if a sentence has bread or not</h2>
      </div>

      <div>
          <form action="http://localhost:3000/bread" method="POST">
              <label>Input String</label>
              <input type="text" name="input_string" placeholder="Type your sentence here"> 
              <input type="submit" value="Submit">
          </form>
      </div>
      <div>
          Or you can upload a <a href="http://localhost:3000/file">file</a>
      </div>
    </body>
</html>
