<html>
  <head>
    <title>Welcome to Breadit</title>
    <link rel="stylesheet" href="style.css" type="text/css" />
  </head>
  <body>
    <div class="container">
      <div class="form_container">
        <div><h1>Welcome to Breadit page</h1></div>
        <div>
          <h2>Where you can discover if a sentence has bread or not</h2>
        </div>

        <div>
          <form action="http://localhost:3000/bread" method="POST">
            <label>Input String</label>
            <input type="text" name="input_string" placeholder="Type your sentence here"/>
            <div>
            <label>Enter your bread type here seperated by spaces</label>
            <input type="text" name="input_bread_types"  placeholder="If empty text is comapred against sourdough, ciabatta, rye, bread"/>
            <div>
            <input type="submit" value="Submit"/>
            </div>
            </form>
          </form>
        </div>
        <div>
          Or you can upload a <a href="http://localhost:3000/file">file</a>
        </div>
      </div>
    </div>
  </body>
</html>
