<html>
  <head>
    <title>Upload file</title>
    <link rel="stylesheet" href="style.css" type="text/css" />
  </head>
  <body>
    <div class="container">
      <div class="form_container">
        <div><h1>Upload files here</h1></div>
        <div>
          <h2>Where you can discover if a file contains bread or not</h2>
        </div>
        <div>
          <form
            action="http://localhost:3000/upload"
            method="POST"
            enctype="multipart/form-data"
          >
            <label>Input File</label>
            <input type="file" name="input_file" />
            <input type="submit" value="Submit" />
          </form>
        </div>
        <div>
          <form>
            <label></label>
          </form>
        </div>
      </div>
    </div>
  </body>
</html>
